{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>
    {{ form_start(form) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}