{# templates/security/forgot_password.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1 class="h4 mb-3">Mot de passe oublié</h1>
    <p class="text-muted">Fonctionnalité à venir…</p>
  </div>
{% endblock %}