/* assets/styles/app.css - styles globaux */
html,
body {
    height: 100%;
    margin: 0;
}
body.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main.container {
    flex: 1;
}
footer {
    background: #f5f5f5;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
}
.about-logo {
    max-width: 160px; /* ajuste entre 140–200px si tu veux */
    width: 100%;
}
@media (min-width: 992px) {
    .about-logo {
        max-width: 180px;
    }
}

@import "./base.css";
@import "./navbar.css";
@import "./home.css";
@import "./shop.css";
@import "./form.css";
@import "./admin_product.css";
@import "./auth.css";
@import "./cart.css";
@import "./checkout.css";
@import " footer.css";
