{% extends 'base.html.twig' %}
{% block title %}Merci !{% endblock %}
{% block body %}
  <h1>Paiement validé ✅</h1>
  <p>Merci pour votre achat ! Vous recevrez un e-mail de confirmation.</p>
  <a href="{{ path('products_list') }}" class="btn btn-primary mt-3">Continuer vos achats</a>
{% endblock %}